@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-head-color:#37517e;
    --primary-color: dodgerblue;
  --color-light: white;
  --border-radius-one: 15px;
  --border-radius-two: 20px;
  --box-shadow-one: 0 0 5px rgb(237, 237, 237);

}
body{
    font-family: "Open Sans", sans-serif;
     color: #444444;
}
h3,h2,h4{
    font-family:"Jost", sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.top-page {
  background-color: #293c5d;
  padding: 1rem;
  position: sticky;
  top: 0;
  backdrop-filter: blur(75px);
  -webkit-backdrop-filter: blur(75px);
  z-index: 6;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.nav-lists {
  align-items: center;
  display: flex;
  gap: 2rem;
}
.nav-links > a {
  color: var(--color-light);
}
.nav-links > a:hover {
  color: rgb(205, 243, 255);
}
.icon-toggler {
  color: var(--color-light);
  display: none;
  cursor: pointer;
}
.getstart,
.getstart:focus a {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}
.getstart:hover,
.getstart:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.portfoloio-title{
    background-color:#f3f5fa;
    padding: 20px 0;
}
.port-title>ul{
    display: flex;
    margin: 0;
    padding: 0 0 10px 0;
}
.port-title >h3{
    color: var(--text-head-color);
}
 
.port-title>ul>li+li::before{
    content: "/";
    padding: 0 10px;
    color: #4668a2;
}

.portfolio-detail{
    margin: 40px 0;
}
.col-lg-8 .port-detail-img{
    width: 100%;

}
.port-detail-img>img{
    width: 100%;
}
.col-lg-4 .portfolio-info{
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 30px rgba(55, 81, 126, 0.08);
}
.portfolio-info>ul{
    padding: 0;
}
.portfolio-info>ul>li{
    padding-top: 10px;
}
.portfolio-des>p{
    margin-top: 20px;
}
.port-detail-img{
  position: relative ;
  min-height: 800px;
  overflow: hidden;
}
.port-detail-img >img{
  position: absolute;
  width: 100%;
  height: auto;
}
.col-lg-8{
  position: relative;
}

.dots-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 118px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  padding: 5px 0;
  gap: 0.5rem;
}
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-out;
}
.dot.active {
  width: 40px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.7);
}
.footer{
  background-color: #37517e;
}
.footer-join-us{
  padding: 50px 0;
  text-align: center;
  background: #f3f5fa;
}
.col-lg-6 .email{
  display: flex;

}
.footer-center{
  background-color: #fff;
  padding: 50px 0;
  font-size: 15px;
}
.footer-center .container .row .col-lg-3>h3,
h4{
  font-size: 18px;
  color:var(--text-head-color);
}
ul{
  padding: 0;
  margin: 0;
}
ul>li{
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: #444444;
}
ul >li >i{
  line-height: 1;
  font-size: 15px;
  padding-right: 5px;
  color: #47b2e4;
}
ul >li >a{
  font-size: 15px;
  color: #444444;
}
.socail>a{
  padding-left: 10px;
}
.footer-buttom{
  padding: 30px 0;
}
.footer-buttom .container{
  display:flex;
  justify-content: space-between;
  color: #f3f5fa;
}














@keyframes nextOut {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  @keyframes nextIn {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  @keyframes prevOut {
    from {
      left: 0%;
    }
    to {
      left: 100%;
    }
  }
  @keyframes prevIn {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }