@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300&family=Poppins:wght@300&display=swap');
:root {
  --primary-color: dodgerblue;
  --color-light: white;
  --border-radius-one: 15px;
  --border-radius-two: 20px;
  --box-shadow-one: 0 0 5px rgb(237, 237, 237);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
   color: #444444;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
p,
li,
span {
  font-family: "Open Sans"sans-serif;
  font-size: 18px;
}
h2,h4{
  font-family:"Jost", sans-serif;
}
/* navigation bar */
.top-page {
  background-color: #37517e;
  padding: 20px 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(75px);
  -webkit-backdrop-filter: blur(75px);
  z-index: 4;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.nav-lists {
  align-items: center;
  display: flex;
  gap: 2rem;
}
.nav-links > a {
  color: var(--color-light);
}
.nav-links > a:hover {
  color: rgb(205, 243, 255);
}
.logo>a>h3{
  text-align: center;
}
.icon-toggler {
  color: var(--color-light);
  display: none;
  cursor: pointer;
}
.getstart,
.getstart:focus a {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}
.getstart:hover,
.getstart:focus:hover {
  color: #fff;
  background: #31a9e1;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-wrap: wrap;
  }
  .icon-toggler {
    display: block;
  }
  .nav-lists {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 2.5rem 0;
  }

  /* javaScript */
  .nav-lists.show {
    display: flex;
  }
  .nav-links {
    border-bottom: 1px solid #888888;
  }
}
/* end of navigation bar */

/* Start hero section */
/* button */
/* .btn {
  display: inline-block;
  text-align: center;
  padding: 1rem 2.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius-one);
  cursor: pointer;
} */

.btn-primary {
  color: white;
  background-color: var(--primary-color);
}
/* .btn-secondary {
  background-color: gold;
}
.btn-accent {
  background-color: lightgray;
}
.btn-block {
  width: 100%;
} */
.hero-image {
  max-width: 600px;
}
.hero-image > img {
  padding-top: 50px;
  width: 100%;
}
.grid-hero {
  align-items: center;
}
.hero {
  background-color: #37517e;
}
.hero-heading {
  line-height: 1.2;
}
.hero-desc h1{
  font: 48px "Jost",sans-serif;
  font-weight: 900;
}
.hero-desc > h2 {
  font: 24px "Jost",sans-serif;
  font-weight: 400;
  margin: 2rem 0;
  color: #ffffff99;
}
.hero-desc {
  color: #fff;
}
.hero-desc > a {
  margin: 2rem;
}
.hero {
  padding: 50px;
}
.grid-1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-1x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 900px) {
  .grid-1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-1x2 {
    grid-template-columns: 1fr;
  }
  .grid-1x3 {
    grid-template-columns: 1fr;
  }
  .grid-1x4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* client */
.clients {
  width: 100%;
  min-height: 90px;
  background-color: #ddd9d9;
}
.clients {
  padding: 12px 0;
  text-align: center;
  display: inline-block;
}
.row {
  display: flex;
}
.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

/* @media (max-width: 768px) {
  .clients img {
      max-width: 40%;
  }
} */

/* About us */
.about{
  padding: 60px;
  overflow: hidden;
  text-decoration: none;

}
.about li{
  list-style: none;
}

.about-title{
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.about-title h2::before{
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
}

.about-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.iconblue{
  color: #47b2e4;
}
.listtext:hover{
  color: #47b2e4;
}

.bluetext{
  color: rgb(55,81,126);
}

.learnmore{
  color: #47b2e4;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  line-height: 1;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}
.learnmore:hover{
  color: white;
  background-color: #47b2e4;
}

.whyus{
  background-color: rgb(243,245,250);
}

.aboutimg{
  padding: 100px 0;
}
.aboutimg2{
  width: 100%;
  height: 550px;
  padding: 100px 0;
}
.progress-bar-inner{
  background-color: #4668a2;
}
/* End of about us */


/* service */

.line{
  background-color: gray;
  width: 20px;
  height: 2px;
}

.main-line{
  background-color: #37517e;
  height: 4px;
}

.subTitle{
  font-size: 1rem;
  color: gray;
  font-weight: 400;
}

/* Service */
.cta {
  width: 100%;
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../image/team/cta-bg.jpg) fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.service-box{
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: .5s;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0 30px rgba(1,41,112, 0.08);
}
.service-box:hover{
  transform: scale(1.1);
}
.service-box:hover .fa-solid{
  color: #37517e;
}
.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid white;
  color: white;
}
.cta .cta-btn:hover{
  background: #31a9e1;
}

@keyframes mainImageAnimation {
  0%{
      transform: translateY(-20px);
  }
  50%{
      transform: translateY(70px);
  }
  100%{
      transform: translateY(-20px);
  }
}
.portfoloio{
  margin: 40px 0;
}
.portfoloio-title >h2{
  color: #37517e;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
}
.portfoloio-title >h2::before{
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.portfoloio-title >h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);

}
.portfoloio-title >p{
  text-align: center;
}
.btn-container{
  justify-content: center;
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}
.btn-container .btn{
  background: transparent;
  border-radius: 30px;  
  width: 60px;
  transition: all 0.1s ease-out;
  border: none;
  font-weight: 500;
}
.btn.active-btn{
  background-color: #47b2e4;
  color: white;
}
.btn-container .btn:hover{
  background-color: #47b2e4;
  color: white;
}
.meun-wrapper{
  position: relative;
}
.meun-wrapper .card{
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
  border: none;
  
}
.meun-wrapper:hover .card-info{
  opacity: 1;
}
.card-info{
  display: flex;
  justify-content: space-between;
  color: white;
}
.meun-wrapper .card-info{
  position: absolute;
  left: 0px;
  bottom: 20px;
  z-index: 3;
  right: 0;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
  opacity: 0;
}
.card-info .card-title>h4{
  font-size: 18px;
}
.card-info .card-title>p{
  margin-left: -20px;
  
}

.card-info .card-icon{
  margin: 20px 0;
  
}
.card{
  overflow: hidden;
}
.card-icon >a{
  text-align: center;
  padding-left: 20px;
  color: #eff2f8;
}
.card-icon >a:hover{
  color: #47b2e4;
}
.img{
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.card:hover > .img{
  transform: scale(1.1);
  opacity: 1;
}


/* team */
.team{
  background-color: #f3f5fa;
  padding: 50px 0;
}
.team .row .col-lg-6{
  padding-top: 20px;
}
.team .row .col-lg-6 .member{
  padding: 30px;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.team .row .col-lg-6 .member:hover{
  transform: translateY(-10px);
  transition: all 0.3s;
}
.team .row .col-lg-6 .member .pic{
  width: 280px;
  overflow: hidden;
  height: 100%;
}
.team .row .col-lg-6 .member .pic>img{
  max-width:100%;
  height: auto;
  border-radius: 50%;
}
.team .row .col-lg-6 .member .member-information{
  padding-left: 30px;
}
.team .row .col-lg-6 .member .member-information>h4{
  color:var(--text-head-color);
  font-weight: bold;
}
.member-information>span{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.member-information>p{
  margin-top: 15px;
  font-size: 14px;
}
.team .row .col-lg-6 .member .member-information>span::after{
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}
.member-information .socail{
  display: flex;
  gap: 10px;
}
.member-information .socail>a{
  width: 32px;
  height: 32px;
  background: #eff2f8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.member-information .socail >a >i{
  font-size: 16px;
  color: #37517e;
}
.member-information .socail>a:hover{
  background: #47b2e4;
  color: #ddd;
  
}

.alink-left, .alink-right{
  position: absolute;
  top:30%;
  width: auto;
  margin-top: 22px;
  font-size: 40px;
  color:red;
  border:none;
  user-select: none;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
  opacity: 0;
}
.alink-left{
 color:yellow;
 left:0;
 margin-left: 10%;    
}
.alink-right{
  color:red;
  right: 90px;
}
.card-icon >a:hover .alink-left,
.alink-right{
  opacity: 1;
}

/* footer */
.footer{
  background-color: #37517e;
}
.footer-join-us{
  padding: 50px 0;
  text-align: center;
  background: #f3f5fa;
}
.col-lg-6 .email{
  display: flex;

}
.footer-center{
  background-color: #fff;
  padding: 50px 0;
}

ul{
  padding: 0;
  margin: 0;
}
ul>li{
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: #444444;
}
ul >li >i{
  line-height: 1;
  font-size: 15px;
  padding-right: 5px;
  color: #47b2e4;
}
ul >li >a{
  font-size: 15px;
  color: #444444;
}
.socail>a{
  padding-left: 10px;
}
.footer-buttom{
  padding: 30px 0;
}
.footer-buttom .container{
  display:flex;
  justify-content: space-between;
  color: #f3f5fa;
}

                /* SECTION PRICING */
.title-pricing h2{
        font: 32px "Jost",sans-serif;
        margin: 0 0 20px;
        padding: 0 0 20px;
        color: #37517e;
        font-weight: 700;
        text-align: center;
        position: relative;
}
.title-pricing h2::before{
        content: "";
        height: 1px;
        width: 120px;
        background-color: #dddd;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: calc(50% - 60px);
}
.title-pricing h2::after{
        content: "";
        height: 3px;
        width: 40px;
        background-color: rgb(71, 178, 228);
        display: block;
        position: absolute;
        bottom: 0;
        left:calc(50% - 20px);
}
.title-pricing p{
        text-align: center;
        font-size: 16px;
        padding: 0 0 30px;
}


.box{
        max-width: 410px;
        max-height: 654px;
        padding: 60px 40px;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
}
.box h3{
        font:20px;
        margin: 0 0 15px;
}
.box h4{
        font: 48px jost,sans-serif;
        color: #37517e;
        font-weight: 400;
}
.box sup{
        font-size: 28px;
}
.box span{
        font-size: 18px;
        color: #47b2e4;
        font-weight: 400;
        display: block;
}
.box ul{
        list-style: none;
        padding: 0;
        text-align: start;

}
.box li{
        padding: 10px 0;
        font-family: "Open Sans"sans-serif;
        font-size: 16px;
        color: #999999;
        text-align: start;
}
.box li i{
        color: green;
        width: 24px;
        height: 25px;   
        align-items: center;
}
.box2{
        border-top: #47b2e4 5px solid;
}
.text-decoration-line-through span{
        color: #ccc;
        display: inline;
}
.buy-btn{
        color: #47b2e4;
        width: 152px;
        height: 50px;
        padding: 12px 35px;
        border: 1px solid;
        border-radius: 2rem;
        text-align: center;
        font:16px "Jost",sans-serif;
}
.buy-btn:hover{
        background-color: #47b2e4;
        color: white;
}
.box2 .buy-btn{
        background-color: #47b2e4;
        color: white;
}
@media only screen and (max-width: 992px) {
        /* For mobile phones: */
        [class*="box"] {  
                    max-width: 80%;
                    margin: 0 auto 30px auto;
                    max-width: 410px;
                    max-height: 654px;
                    padding: 60px 40px;
                    font-size: 16px;
                    border-radius: 5px;
                    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
        }
      }

      /* ended pricing */


                  /* SECTION QUESTION */
.question-section{
        background-color: #f3f5fa;
}
.question-title h2{
        font: 32px "Jost",sans-serif;
        margin: 0 0 20px;
        padding: 0 0 20px;
        color: #37517e;
        font-weight: 700;
        text-align: center;
        position: relative;
}
.question-title h2::before{
        content: "";
        height: 1px;
        width: 120px;
        background-color: #dddd;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: calc(50% - 60px);
}

.question-title h2::after{
        content: "";
        height: 3px;
        width: 40px;
        background-color: rgb(71, 178, 228);
        display: block;
        position: absolute;
        bottom: 0;
        left:calc(50% - 20px);
}
.accordion-button{
        color: #37517e;
        font-weight: 700;
        font: 16px "Poppins",sans-serif;
}
.accordion-button:hover{
        color: #47b2e4;
}
                /* SECTION CONTACT */
.contact-title h2{
        font: 32px "Jost",sans-serif;
        margin: 0 0 20px;
        padding: 0 0 20px;
        color: #37517e;
        font-weight: 700;
        text-align: center;
        position: relative;
}
.contact-title h2::before{
        content: "";
        height: 1px;
        width: 120px;
        background-color: #dddd;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: calc(50% - 60px);
}
.contact-title h2::after{
        content: "";
        height: 3px;
        width: 40px;
        background-color: rgb(71, 178, 228);
        display: block;
        position: absolute;
        bottom: 0;
        left:calc(50% - 20px);
}

      /* message section */
.info,.message{
        box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
        border-top: #47b2e4 3px solid;
        border-bottom: #47b2e4 3px solid;
}
.info{
        max-width: 526px;
        max-height: 614px;
}
.message{
        max-width: 746px;
        max-height: 614px;
}
.info h4>span{
  color: #37517e;
  font:22px "Jost",sans-serif;
  font-weight: 900;
}
.info i{
  width: 44px;
  height: 44px;
  color: #31a9e1;
  border: 1px solid #47b2e4;
  border-radius: 22px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info p{
  font: 14px "Open Sans"sans-serif;
}
.btn-message  {
  width: 175px;
  height: 48px;
  border-radius: 24px;
  background-color: #25b8fe;
  color: white;
  
}
        /* Join Us */
.join-us h4{
  font:24px "Jost",sans-serif;
  font-weight: 600 ;
  color: #37517e;
} 
    /* footer socail*/
.socail-footer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius:18px;
  color:white;
  background-color: #47b2e4;
  margin: 0 4px 0 0;
  padding: 8px 0;
}
      /* service */
  
.service-box i{
  color: #25b8fe;
  font-size: 34px;
  width: 36px;
  height: 36px;
  display: flex;
  flex: start;
}
.service-box h3{
  display: flex;
  flex: start;
  color: #37517e;
  font-weight: 900;
  font: 24px "Jost",sans-serif;
}
.service-box p{
text-align:start ;
}
.service-box{
  border: none;
}